{% extends "main.html" %}

{% block title %}DisQussion: {% if account %}Aktivierung erfolgreich
{% else %}Fehler beim Aktivieren des Accounts{% endif %}{% endblock %}

{% block navigation %}{% endblock %}

{% block text %}
    {% load humanize %}
    {% if account %}
        <h1>Account erfolgreich aktiviert.</h1>
        <p>Vielen Dank, dass du dich bei DisQussion registriert hast.</p>
        <p>Du kannst dich jetzt <a href="/.users/login">anmelden.</a>.</p>
    {% else %}
        <h1>Fehler beim Aktivieren des Accounts!</h1>
        <p>Sorry, die Aktivierung schlug fehl. Entweder was der Aktivierungslink falsch oder der
            Aktivierungsschlüssel ist ausgelaufen. Aktivierungsschlüssel sind nur für
            {{ expiration_days|apnumber }} gültig.</p>
        <p>Versuche die Registrierung doch einfach nochmal.</p>
    {% endif %}
{% endblock %}

{% block microblog %}{% endblock %}