{% extends "main.html" %}

{% block title %}DisQussion: Einloggen{% endblock %}

{% block navigation %}{% endblock %}

{% block text %}
<h1>Bei DisQussion Anmelden</h1>

{% if form.errors %}
<p class="error noindent">Bitte korregiere folgende Fehler:</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<dl>
<dt><label for="id_username">Benutzername:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password">Passwort:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="hidden" name="login_redirect" value="/"/>
    <input type="submit" value="Anmelden &rarr;" /></dt>
</dl>
</form>

<p class="noindent">Wenn du noch keinen Account hast, kannst du dich <a href="/.users/.registration/register">hier registrieren</a>.</p>
{% endblock %}

{% block microblog %}{% endblock %}