{% extends "main.html" %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block text %}
{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Neues Passwort:</label> {{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Passwort bestätigen:</label> {{ form.new_password2 }}</p>
<p><input type="submit" value="Passwort ändern &rarr;" /></p>
</form>

{% else %}

<h1>Link ungültig</h1>

<p>Der Link zum zurücksetzen des Passworts war ungültig. Möglicherweise wurde der Link bereits benutzt. Bitte fordere
    einen neuen Link an, um dein Passwort zurückzusetzen.</p>
{% endif %}
{% endblock %}
