div#graph {
    margin: 20px 0 3em 0;
    padding: 4em 0 0 0;
}

div#graph div.fixpoint {
    width: 0;
    height: 0;
    margin: auto;
    padding: 0;
    border: 0 solid black;
    overflow: visible;
    display: block;
    text-align: left;
    vertical-align: top;
    position: relative;
}

div#graph div.arrow {
    height: 0;
    width: 120px;
    top: 0;
    left: 0;
    display: block;
    border-bottom: 4px solid black;
    border-left: 5px solid red;
    position: relative;
    margin: 0;
}

div#graph div.masspoint {
    width: 0;
    height: 0;
    margin: auto;
    padding: 0;
    border: 0 solid black;
    overflow: visible;
    display: block;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

div#graph div.circle {
    min-width: 54px;
    height: 60px;
    padding: 0 3px;
    position: relative;
    left: -30px;
    top: -30px;
    line-height: 60px;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    overflow: visible;
    margin: 0;
    border-radius: 50px;
    cursor: pointer;
}