@font-face {
    font-family:CMUSerif;
    src:local(CMU serif), url(../fonts/cmunrm.otf);
}

@font-face {
    font-family:CMUSans;
    src:local(CMU Sans Serif), url(../fonts/cmunss.otf);
}

body {
	background-color: white;
	margin: 0;
	font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
	font-size: 10pt;
}

div.text {
	float: none;
	max-width: 33em;
}

div.text p {
	font-family: CMU serif, CMUSerif, cmr12, serif;
	font-size: 12pt;
	text-indent: 0.8em;
	text-align: justify;
	margin: 0;
}

h1 {
	font-family: CMU serif, CMUSerif, cmr17, serif;
	font-size: 20pt;
	font-weight: normal;
	text-align: left;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

a {
	color: #d27206;
}

a:hover {
	color: #ffa500;
}

a:visited {
	color: #7e5000;
}

div#leiste {
	color: white;
	background-color: #404040;
	width: 100%;
	padding: 2px 0;
	text-align: center;
}

div#leiste div#logo {
	width: 4em;
	display: inline;
	color: #484848;
	font-size: 12pt;
	font-stretch: expanded;
	float: left;
}

div#leiste div#logo span.smaller {
	font-size: 85%;
}

div#leiste form {
	display: inline;
	margin: 0 auto;
}

div#leiste input#suchfeld {
	width: 10em;
	text-align: center;
	background-color: #606060;
	border: 1px solid #202020;
	box-shadow: 0 1px 1px #505050;
	border-radius: 15px;
}

div#leiste ul {
	list-style-type: none;
	float: right;
	text-align: right;
	margin: 0 0.5em;
}

div#leiste ul li {
	display: inline;
}

div#leiste ul li a {
	color: #ffa500;
}

div#leiste div.linklike {
    color: #ffa500;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

div#textpart {
	margin: 0.5em auto;
	max-width: 40em;
}

div#textpart div#haupttext {
	float: left;
	margin: 0 2em;
}

div#graph {
    margin: 20px 0 3em 0;
	padding: 4em 0 0 0;
}

div#graph div.fixpoint {
    width: 0;
    height: 0;
    margin: auto;
    padding: 0;
    border: 0 solid black;
    overflow: visible;
    display: block;
    text-align: left;
    vertical-align: top;
    position: relative;
}

div#graph div.arrow {
    height: 0;
    width: 120px;
    top: 0;
    left: 0;
	display: block;
    border-bottom: 4px solid black;
    border-left: 5px solid red;
    position: relative;
	margin: 0;
}

div#graph div.masspoint {
    width: 0;
    height: 0;
    margin: auto;
    padding: 0;
    border: 0 solid black;
    overflow: visible;
    display: block;
    vertical-align: middle;
    position: relative;
}

div#graph div.circle {
	min-width: 54px;
	height: 60px;
    padding: 0 3px;
    position: relative;
    left: -30px;
    top: -30px;
	line-height: 60px;
	border: 3px solid black;
	background-color: white;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	overflow: visible;
	margin: 0;
	border-radius: 50px;
}

div#microblog {
	float: right;
	max-width: 23em;
	padding-left: 1em;
	margin-top: 4.2em;
	text-align: left;
}

div#microblog div.micropost {
	border-bottom: 1px dotted gray;
	margin: 0;
	padding: 0 2px;
	color: white;
}

div#microblog div.micropost:hover {
	color: gray;
}

div#microblog div.micropost p {
	padding: 0;
	margin: 0 2px;
	color: black;
}

div#microblog div.micropost p.micropost-time {
	float: right;
	color: gray;
	display: inline;
}

div#microblog div.micropost h2 {
	font-size: 10pt;
	font-weight: bold;
	color: black;
	margin: 0 2px;
	padding: 0;
	display: inline;
}

div#microblog div.micropost ul.micropost-controls {
	margin: 0 2px;
	padding: 0;
}

div#microblog div.micropost ul.micropost-controls li {
	display: inline;
	margin: 0 2px;
}

div#microblog div.micropost ul.micropost-controls li:hover {
	color: #d27206;
	cursor: pointer;
}

div.inline {
    display: inline-block;
}

div#login_overlay {
    opacity: 0.0;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    float: none;
    display: none;
}

div#login {
    max-width: 23em;
    margin: auto;
    left: 0;
    right: 0;
    top: 5em;
    background: white;
    opacity: 0.0;
    position: absolute;
    display: block;
    text-align: center;
    -webkit-box-shadow: 4px 5px 10px black;
    -moz-box-shadow: 4px 5px 10px black;
    box-shadow: 4px 5px 10px black;
}

div#login div#close_login {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 2px 2px 0 0;
    background: url("../images/close.png") no-repeat;
}