@font-face {
    font-family:CMUSerif;
    src:local(CMU serif), url(../fonts/cmunrm.otf);
}

@font-face {
    font-family:CMUSans;
    src:local(CMU Sans Serif), url(../fonts/cmunss.otf);
}

body {
	background-color: white;
	margin: 0;
	font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
	font-size: 10pt;
}

div.text {
	max-width: 33em;
    float: left;
}

div.text p {
	font-family: CMU serif, CMUSerif, cmr12, serif;
	font-size: 12pt;
	text-indent: 0.8em;
	text-align: justify;
	margin: 0;
}

h1 {
	font-family: CMU serif, CMUSerif, cmr17, serif;
	font-size: 20pt;
	font-weight: normal;
	text-align: left;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

h2 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 17pt;
    font-weight: normal;
    text-align: left;
    line-height: 130%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}

a {
	color: #d27206;
}

a:hover {
	color: #ffa500;
}

a:visited {
	color: #7e5000;
}

div#textPart {
	margin: 0.5em auto;
	max-width: 33em;
}

div#textpart div#hauptText {
	float: left;
	margin: 0 2em;
    max-width: 33em;
    display: block;
}

div.inline {
    display: inline-block;
}

div.linklike {
    color: #d27206;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}