{% extends "main.html" %}

{% block title %}DisQussion: Profil von {{ userinfo.name }}{% endblock %}

{% block navigation %}{% endblock %}

{% block text %}
    <h1>{{ userinfo.name }}
        {% if userinfo.firstname or userinfo.lastname %} - {{ userinfo.fistname }} {{ userinfo.lastname }}{% endif %}
    </h1>
    <div class="shownForFade">
        <div>
            {% autoescape off %}
                {{ userinfo.description }}
            {% endautoescape %}
        </div>
        {% if user.is_authenticated and user.username == userinfo.name %}
            <div class="linklike" onclick="showNextNode(this);">Beschreibung bearbeiten</div>
        {% endif %}
    </div>
    {% if user.is_authenticated and user.username == userinfo.name %}
        <div class="hiddenForFade">
            <form method="post" action="change_description">
                {% csrf_token %}
                {{ descriptionForm.description }}
                <input type="submit" value="Beschreibung ändern"/>
                <input type="hidden" name="description_change_redirect" value="../{{ this_url }}"/>
            </form>
        </div>
        <h2>Einstellungen</h2>
        <div id="profilesettings">
            <div class="shownForFade">
                <div class="linklike" onclick="showNextNode(this);">Passwort ändern</div>
            </div>
            <div class="hiddenForFade">
                <form method="post" action="change_password/../{{ user.username }}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Altes Passwort:</td>
                            <td>{{ passwordForm.old_password }}</td>
                        </tr>
                        <tr>
                            <td>Neues Passwort:</td>
                            <td>{{ passwordForm.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>Neues Passwort:</td>
                            <td>{{ passwordForm.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Passwort ändern"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="shownForFade">
                <div class="linklike" onclick="showNextNode(this);">E-Mail: {{ user.email }}</div>
            </div>
            <div class="hiddenForFade">
                <form method="post" action="change_email">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Neue E-Mail:</td>
                            <td>{{ emailForm.email }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="E-Mail Adresse ändern"/></td>
                        </tr>
                    </table>
                    <input type="hidden" name="email_change_redirect" value="../{{ this_url }}"/>
                </form>
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated and user.username != userinfo.name %}
        {% if is_follow %}
            <button id="follow_button" onclick="unfollow('{{ userinfo.name }}');">Entfolgen</button>
        {% else %}
            <button id="follow_button" onclick="follow('{{ userinfo.name }}');">Folgen</button>
        {% endif %}
    {% endif %}

    <h2>Aktivitäten</h2>
        {% with activities=userinfo.activities %}
            {% include "microblogging/renderMicroblogging.html" %}
        {% endwith %}
{% endblock %}

{% block microblog %}{% endblock %}