{% extends "main.html" %}

{% block title %}DisQussion: Profil von {{ userinfo.name }}{% endblock %}

{% block graph %}{% endblock %}

{% block text %}
    <h1>{{ userinfo.name }}
        {% if userinfo.firstname or userinfo.lastname %} - {{ userinfo.fistname }} {{ userinfo.lastname }}{% endif %}
    </h1>
    {% autoescape off %}
    {{ userinfo.description }}
    {% endautoescape %}
    {% if user.is_authenticated and user.username == user_to_show.name %}
        <h2>Einstellungen</h2>
        <ul>
            <li>Passwort ändern</li>
            <li>E-Mail: {{ user.email }}</li>
        </ul>
    {% endif %}
    <h2>Aktivitäten</h2>
    {% for activity in userinfo.activities %}
        <div class="micropost">
            <p class="micropost-time">{{ activity.time }}</p>

            <h2>{% if activity.type == 0 %}{{ userinfo.name }}
            {% elif activity.type == 1 %}System
            {% else %}Fehler: Unbekannter Typ.{% endif %}</h2>
            {% if activity.type == 0 %}
                <p>{{ activity.text }}</p>
                <ul class="micropost-controls">
                    {% if activity.type == 0 %}
                        <li>Antworten</li>{% endif %}
                    <li>Weitersagen</li>
                    {% if activity.type == 0 %}
                        <li>Interpretieren</li>{% endif %}
                </ul>
            {% elif activity.type == 1 %}
                <p>{{ userinfo.name }} hat {% if activity.wording == 0 %}sich {% endif %}bei
                    <a href="{{ activity.text_url }}">{{ activity.title }}</a>
                    {% if activity.wording != 0 %}die Formulierung mit {{ activity.wording }} bewertet
                    {% else %}der Formulierung enthalten{% endif %}
                    {% if activity.consent == 1 %}und dem Inhalt zugestimmt.
                    {% elif activity.consent == 0 %}und sich zum Inhalt enthalten.
                    {% else %}aber den Inhalt abgelehnt.{% endif %}
                </p>
            {% else %}<p>Fehler: Unbekannter Typ.</p>{% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block microblog %}{% endblock %}