div#login_overlay {
    opacity: 0.0;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    float: none;
    display: none;
}

div#login {
    max-width: 23em;
    margin: auto;
    left: 0;
    right: 0;
    top: 5em;
    background: white;
    opacity: 0.0;
    position: absolute;
    display: none;
    text-align: center;
    -webkit-box-shadow: 4px 5px 10px black;
    -moz-box-shadow: 4px 5px 10px black;
    box-shadow: 4px 5px 10px black;
}

div#login div#close_login {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 2px 2px 0 0;
    background: url("../images/close.png") no-repeat;
}

div#post_field_overlay {
    opacity: 0.0;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    float: none;
    display: none;
}

div#post_field {
    max-width: 33em;
    margin: auto;
    left: 0;
    right: 0;
    top: 5em;
    background: white;
    opacity: 0.0;
    position: absolute;
    display: none;
    text-align: center;
    -webkit-box-shadow: 4px 5px 10px black;
    -moz-box-shadow: 4px 5px 10px black;
    box-shadow: 4px 5px 10px black;
}

div#post_field div#close_post_field {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 2px 2px 0 0;
    background: url("../images/close.png") no-repeat;
}

div#post_field form textarea {
    margin: 1em;
    width: 30em;
    height: 4em;
}

div#inputText {
    padding-right: 0.5em;
    display: none;
    float: left;
    max-width: 33em;
}

div#inputText h1 {
    font-family: CMU serif, CMUSerif, cmr12, serif;
}

div#inputText tr:first-child td:first-child {
    width: 10em;
}

div#inputText textarea {
    width: 100%;
}

div.button_bar {
    margin-left: 5em;
}

div.button {
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    box-shadow: 0 1px 1px #555;
    background-color: gray;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 1px;
    display: inline-block;
}

span#bigplus {
    font-size: 66px;
    font-weight: bold;
    font-family: sans-serif;
    color: gray;
    position: relative;
    top: -2px;
}

div#profilesettings {
    font-size: 11pt;
}

.shownForFade {
    opacity: 1.0;
}

.hiddenForFade {
    display: none;
}

button#follow_button {
    margin-top: 2em;
}

div.vote_field {
    width: 97px;
    height: 80px;
    background-image: url(../images/voting.png);
}