@font-face {
    font-family:CMUSerif;
    src:local(CMU serif), url(../fonts/cmunrm.otf);
}

@font-face {
    font-family:CMUSans;
    src:local(CMU Sans Serif), url(../fonts/cmunss.otf);
}

body {
	background-color: white;
	margin: 0;
	font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
	font-size: 10pt;
}

div#navbar {
    overflow: auto;
    max-width: 100%;
}

div#navbar ol {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    vertical-align: top;
}

div#navbar ol li {
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 0.3em;
}

div#navbar ol li div {
    display: inline-block;
    vertical-align: top;
}

div#navbar ol ol {
    float: none;
}

div#navbar ol ol li {
    display: list-item;
    border-right-width: 0;
    font-size: 12pt;
    font-weight: bold;
}

div#navbar ol ol li a {
    text-decoration: none;
}

div#text {
	max-width: 33em;
    float: left;
}

div#text p {
	font-family: CMU serif, CMUSerif, cmr12, serif;
	font-size: 12pt;
	text-indent: 0.8em;
	text-align: justify;
	margin: 0;
}

h1 {
	font-family: CMU serif, CMUSerif, cmr17, serif;
	font-size: 20pt;
	font-weight: normal;
	text-align: left;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

h2 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 17pt;
    font-weight: normal;
    text-align: left;
    line-height: 130%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}

h3 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 14pt;
    font-weight: normal;
    text-align: left;
    line-height: 120%;
    margin-bottom: 0.7em;
    margin-top: 1em;
}

h4 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    line-height: 110%;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
}

div#text ul {
    padding-left: 1.5em;
}

div#text ol {
    padding-left: 1.5em;
}

div#text li {
    font-family: CMU serif, CMUSerif, cmr12, serif;
    font-size: 12pt;
    text-align: justify;
}

a {
	color: #d27206;
}

a:hover {
	color: #ffa500;
}

a:visited {
	color: #7e5000;
}

div#textPart {
	margin: 0.5em auto;
	max-width: 33em;
}

div.inline {
    display: inline-block;
}

div.linklike {
    color: #d27206;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}