@font-face {
    font-family:CMUSerif;
    src:local(CMU serif), url(../fonts/cmunrm.otf);
}

@font-face {
    font-family:CMUSans;
    src:local(CMU Sans Serif), url(../fonts/cmunss.otf);
}

body {
	background-color: #F9F9F9;
    background-image: url(../images/priming.png);
	margin: 0;
	font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
	font-size: 10pt;
    line-height: 1.5EM;
}

div#navbar {
    overflow: auto;
    max-width: 100%;
}

div#navbar ol {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    vertical-align: top;
}

div#navbar ol li {
    display: block;
    float: left;
    border-right: 1px solid black;
    padding: 0 0.3em;
    line-height: normal;
}

div#navbar ol li div {
    display: block;
    vertical-align: top;
}

div#navbar ol ol {
    clear: both;
}

div#navbar ol ol li {
    display: list-item;
    clear: left;
    border-right-width: 0;
    font-size: 12pt;
    font-variant: small-caps;
}

div#navbar ol ol li a {
    text-decoration: none;
}

div#floatblock {
    float: right;
    position: relative;
    left:-50%;
    text-align:left;
}

div#text {
    background-color: white;
    position: relative;
    left: 50%;
	max-width: 33em;
    float: left;
    margin: 0 auto;
    padding: 0 2em;
}

.text {
    text-align: justify;
}

div#text p {
	font-family: CMU serif, CMUSerif, cmr12, serif;
	font-size: 12pt;
	text-indent: 0.8em;
	text-align: justify;
	margin: 0;
}

div#text p.noindent {
    text-indent: 0;
}

h1 {
	font-family: CMU serif, CMUSerif, cmr17, serif;
	font-size: 20pt;
	font-weight: normal;
	text-align: left;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

h2 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 17pt;
    font-weight: normal;
    text-align: left;
    line-height: 130%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}

h3 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 14pt;
    font-weight: normal;
    text-align: left;
    line-height: 120%;
    margin-bottom: 0.7em;
    margin-top: 1em;
}

h4 {
    font-family: CMU serif, CMUSerif, cmr17, serif;
    font-size: 12pt;
    font-weight: normal;
    font-variant: small-caps;
    text-align: left;
    line-height: 115%;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
}

div#text ul {
    padding-left: 1.5em;
}

div#text ol {
    padding-left: 1.5em;
}

div#text li {
    font-family: CMU serif, CMUSerif, cmr12, serif;
    font-size: 12pt;
    text-align: justify;
}

a {
	color: #d27206;
}

a:hover {
	color: #ffa500;
}

a:visited {
	color: #7e5000;
}

div#textPart {
	margin: 0.5em auto;
	max-width: 33em;
}

div.spacer {
    margin: 2em 0;
}

div.inline {
    display: inline-block;
}

div.linklike {
    color: #d27206;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

div.shorttitle {
    color: #4f4f4f;
    font-size: 8pt;
    font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
    border-bottom: 1px dotted #D0D0D0;
    margin: 2em 0 0 0;
}

div.shorttitle a {
    color: #4f4f4f;
    text-decoration: none;
}

div.slot h1:first-of-type, div.slot h2:first-of-type {
    margin-top: 0;
}

input.required, .error {
    border-bottom: 2px solid red;
}