div#microblog {
    float: right;
    left: 50%;
    position: relative;
    max-width: 23em;
    padding-left: 1em;
    margin-top: 4.2em;
    text-align: left;
}

div.micropost, div.micropost p {
    font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
    font-size: 10pt;
}

div#text div.micropost, div#text div.micropost p, div#text div.micropost ul.micropost-controls li {
    font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
    font-size: 10pt;
}

div.micropost {
    border-bottom: 1px dotted gray;
    margin: 0;
    padding: 0 2px;
    color: white;
}

div.micropost:hover {
    color: gray;
}

div.micropost p {
    padding: 0;
    margin: 0 2px;
    color: black;
}

div.micropost p.micropost-time {
    float: right;
    color: gray;
    display: inline;
}

div.micropost h2 {
    font-family: CMU Sans Serif, CMUSans, cmss10, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: black;
    margin: 0 2px;
    padding: 0;
    display: inline;
}

div.micropost ul.micropost-controls {
    margin: 0 2px;
    padding: 0;
}

div.micropost ul.micropost-controls li {
    display: inline;
    margin: 0 2px;
}

div.micropost ul.micropost-controls li:hover {
    color: #d27206;
    cursor: pointer;
}