{% extends "main.html" %}

{% block bodytag %}
    <body onload="initPage('{{ anchor_nodes }}', '{{ navigation }}', -1, false)">
{% endblock %}

{% block text %}
    <form action="/.submit/TextNode" method="POST">
        {% csrf_token %}
        <h1>Alternativen Vorschlag erstellen in {{ slot_title }}</h1>

        {{ alternative_form.as_p }}
        <input type="hidden" name="source" value="-1"/>
        <input type="submit" value="Vorschlag erstellen"/>
    </form>
{% endblock %}

{% block unused %}
    </body>
{% endblock %}