{% extends "main.html" %}

{% block bodytag %}
    <body onload="initPage('{{ anchor_nodes }}', '{{ navigation }}', {{ selected_id }}, false)">
{% endblock %}

{% block text %}
    <form name="text_form" action="/.submit/TextNode" method="POST">
        {% csrf_token %}
        <h1>Vorschlag verbessern oder erweitern: {{ pattern_title }}</h1>
        <div class="button_bar">
            <div class="button" onclick="insert_tag('**','**');"><strong>B</strong>
            </div><div class="button" onclick="insert_tag('//','//');"><em>I</em>
        </div><div class="button" onclick="insert_line_tag('* ');">ul
        </div><div class="button" onclick="insert_line_tag('# ');">ol
        </div></div>
        <p>Bitte versuche den ursprünglichen Vorschlag entweder zu verbessern oder aufbauend auf der
            vorherigen Idee zu erweitern. Wenn du eine neue Idee hast, die mit dem Vorschlag
            ({{ pattern_title }}) eigentlich nichts zu tun hat, dann clicke
            <a href="/.create/{{ parent_id }}">hier</a>.</p>
        {{ refine_form.as_p }}
        <input type="hidden" name="source" value="{{ selected_id }}"/>
        <input type="submit" value="Vorschlag erstellen"/>
    </form>
{% endblock %}

{% block unused %}
    </body>
{% endblock %}