<div class="shorttitle">{{ title }}</div>
{% load markup_tags %}
{% for slot in slots %}
    <div class="slot">
        <div class="shorttitle"><a href="{{ slot.path }}">{{ slot.short_title }}</a></div>
        {{ slot.text|apply_markup:"creole" }}
    </div>
{% endfor %}
{% if user.is_authenticated %}
    <div class="spacer"></div>
    <p><a href="/.refineStructure/{{ dbID }}">Diesen Vorschlag verbessern oder erweitern...</a></p>
    <p><a href="/.create/{{ parentID }}">Einen neuen Alternativvorschlag erstellen...</a></p>

    <h2>Bewertung</h2>
        <div class="vote_field" id="vote_field_{{ dbID }}" onclick="process_vote(event, this, true, {{ dbID }});"></div>
{% endif %}