<form action="/blubb/" method="post">
    <h1>Vorschlag erstellen</h1>
    <table>
        <tr>
            <td>{{ textForm.shortTitle.label_tag }}</td>
            <td>{{ textForm.shortTitle }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ textForm.text }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Erstellen" />
            </td>
        </tr>
        <tr>
            <td colspan="2">Bitte erstelle nur dann einen neuen Vorschlag, wenn es noch keinen Vorschlag gibt, der
                deiner Idee ähnlich ist. Wenn du mit einem bestehenden Vorschlag unzufrieden bist, oder glaubst ihn
                verbessern zu können, dann <a href="/help/weiterentwickeln">entwickle ihn weiter</a>.
            </td>
        </tr>
        <tr>
            <td colspan="2">Alle geposteten Texte stehen automatisch unter Creative Commons 3.0:
                <strong>CC-BY-SA</strong>.
            </td>
        </tr>
    </table>
</form>