<div class="shorttitle">{{ title }}</div>
{% load markup_tags %}
{{ text|apply_markup:"creole" }}
{% if user.is_authenticated %}
    <p><a href="/.refine/{{ dbID }}">Diesen Vorschlag verbessern oder erweitern...</a></p>
    <p><a href="/.create/{{ parentID }}">Einen neuen Alternativvorschlag erstellen...</a></p>
{% endif %}
{% if user.is_authenticated %}
<h2>Bewertung</h2>
<p>
    <form name="vote_form">
    {% csrf_token %}
        {{ form.as_p }}
        <input type='button' onclick="submit_vote_for_text_node(this.form)" value="Abstimmen!" />
    </form>
</p>
{% endif %}





