<div class="shorttitle">{{ title }}</div>
{% load markup_tags %}
{{ text|apply_markup:"creole" }}
{% if user.is_authenticated %}
    <p><a href="/.refine/{{ dbID }}">Diesen Vorschlag verbessern oder erweitern...</a></p>
    <p><a href="/.create/{{ parentID }}">Einen neuen Alternativvorschlag erstellen...</a></p>
{% endif %}
{% if user.is_authenticated %}
<h2>Bewertung</h2>
<div class="vote_field" id="vote_field_{{ dbID }}" onclick="process_vote(event, this, {{ dbID }});"></div>
{% endif %}





