<h1>Alternative Vorschläge für {{ title }}</h1>
{% load markup_tags %}
{% for structure in alternatives %}
    <h2>{{ structure.id }}</h2>
    <p>
    {{ structure.text|apply_markup:"creole" }}
    </p>
    <h3>Voting</h3>
    <ul>
        <li>Zustimmung: {{ structure.consent_rating }}</li>
        <li>Formulierung: {{ structure.wording_rating }}</li>
    </ul>
{% endfor %}
{% if user.is_authenticated %}
<h2>Neuer Vorschlag</h2>
<p>
    <form action="/.submit/TextNode" method="POST">
    {% csrf_token %}
    {{ new_alternative_form.as_p }}
    <input type='submit' value="Abschicken">
    </form>
</p>
{% endif %}