{% for activity in activities %}
    <div class="micropost">
        {#{% if activity.type == 2 %}#}
        {#    <p class="micropost-time">{{ activity.time }} weitergesagt vor {{ activity.reference_time }}</p>#}
        {#{% else %}#}
            <p class="micropost-time">{{ activity.time }}</p>
        {#{% endif %}#}

        <h2>{% if activity.type == 0 %}<a href="/.users/{{ activity.username }}">{{ activity.username }}</a>
        {% elif activity.type == 1 %}System
        {% elif activity.type == 2 %}
            <a href="/.users/{{ activity.original_author }}">{{ activity.original_author }}</a>
            weitergesagt von
            <a href="/.users/{{ activity.username }}">{{ activity.username }}</a>
        {% else %}Fehler: Unbekannter Typ.{% endif %}</h2>
        {% if activity.type == 0 %}
            {% autoescape off %}
                <p>{{ activity.text }}</p>
            {% endautoescape %}
            {% if user.is_authenticated %}
            <ul class="micropost-controls">
                <li onclick="showResponse('{{ activity.username }}');">Antworten</li>
                <li id="reference_link_{{ activity.id }}" onclick="referenceEntry({{ activity.id }},this);">Weitersagen</li>
                <li>Interpretieren</li>
            </ul>
            {% endif %}
        {% elif activity.type == 2 %}
            {% autoescape off %}
                <p>{{ activity.text }}</p>
            {% endautoescape %}
            {% if user.is_authenticated %}
            <ul class="micropost-controls">
                <li onclick="showTwoResponses('{{ activity.username }}','{{ activity.original_author }}');">Antworten</li>
                <li id="reference_link_{{ activity.id }}" onclick="referenceEntry({{ activity.id }},this);">Weitersagen</li>
                <li>Interpretieren</li>
            </ul>
            {% endif %}
        {% elif activity.type == 1 %}
            <p>{{ activity.user }} hat {% if activity.wording == 0 %}sich {% endif %}bei
                <a href="{{ activity.text_url }}">{{ activity.title }}</a>
                {% if activity.wording != 0 %}die Formulierung mit {{ activity.wording }} bewertet
                {% else %}der Formulierung enthalten{% endif %}
                {% if activity.consent == 1 %}{% if activity.wording == -1 %}aber{% else %}und{% endif %} dem Inhalt
                    zugestimmt.
                {% elif activity.consent == 0 %}und sich zum Inhalt enthalten.
                    {% else %}{% if activity.wording == -1 %}und{% else %}aber{% endif %} den Inhalt
                    abgelehnt.{% endif %}
            </p>
        {% else %}<p>Fehler: Unbekannter Typ.</p>{% endif %}
    </div>
{% endfor %}