<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %}
{% load dajaxice_templatetags %}
<html lang="de">
<head>
    <title>{% block title %}DisQussion: {{ pagename }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/top_bar.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/graph.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/microblog.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/extras.css" %}"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="{% static "js/lib/prototype.js" %}" type="text/javascript" charset="utf-8"></script>
    {% dajaxice_js_import %}
    <script src="{% static "js/lib/prototype.dajax.core.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/graphbuilder.js" %}" type="text/javascript"></script>
    <script src="{% static "js/navigation.js" %}" type="text/javascript"></script>
    <script src="{% static "js/misc_animations.js" %}" type="text/javascript"></script>
    <script src="{% static "js/form_magic.js" %}" type="text/javascript"></script>
    <script src="{% static "js/particles.js" %}" type="text/javascript"></script>
    <script src="{% static "js/transitions.js" %}" type="text/javascript"></script>
    <script src="{% static "js/lib/d3.v2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/editor_functions.js" %}" type="text/javascript"></script>
</head>
{% block bodytag %}
<body>
{% endblock %}
<div id="leiste">
    <div id="logo">D<span class="smaller">IS</span><strong>Q</strong><span class="smaller">USSION</span></div>
    <form method="get" action="/search" accept-charset="UTF-8">
        <div class="inline"><input name="suchfeld" id="suchfeld" type="search" size="10" maxlength="140"
                                   autocomplete="on" results="5" placeholder="suchen"/></div>
    </form>
    <ul>
        {% if user.is_staff %}
        <li><a href="/.admin/">Admin</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="/.users/{{ user.username }}">
            {% if user.first_name|length > 0 or user.last_name|length > 0 %}{{ user.first_name }} {{ user.last_name }}
            {% else %}{{ user.username }}{% endif %}</a></li>
            <li>
                <form method="post" action="{% url django.contrib.auth.views.logout %}" id="logout">
                    {% csrf_token %}
                    <input type="hidden" name="logout_redirect" value="{{ this_url }}"/>
                    <input type="submit" id="logout_submit" value="Logout"/>
                </form>
            </li>
        {% else %}
        <li><div class="linklike" onclick="showlogin();">Anmelden</div></li>
        <li><a href="/.users/.registration/register">Registrieren</a></li>
        {% endif %}
    </ul>
</div>
<div id="navbar">
    <ol>
        <li>
            <ol>
                <li>Dies</li>
                <li>ist</li>
                <li>die</li>
                <li>Navigation.</li>
            </ol>
        </li>
        <li>
            <ol>
                <li>Dies</li>
                <li>ist</li>
                <li>Stufe</li>
                <li>2.</li>
            </ol>
        </li>
        <li>
            {% block graph %}
                <div id="graph"></div>
            {% endblock %}
        </li>
        <li>
            <ol>
                <li>Aktuelle</li>
                <li>Unterstrukturierung.</li>
            </ol>
        </li>
    </ol>
</div>
<div id="text">
    {% block text %}
        <h1>Main Template</h1>
        <p>Lorem ipsum dolor sit ämet, consectetur adipisici elit, sed eiusmöd tempor incidunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quiß nostrud exercitation üllamco laboris nisi ut
            aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla <a href="http://www.google.de">pariatur</a>. Excepteur sint obcaecat cupiditat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {% endblock %}
</div>
{% block microblog %}
<div id="microblog">
    <div class="micropost">
        <p class="micropost-time">35m</p>

        <h2>Heiko Müller</h2>

        <p>Basisdemokratie und Mitentscheidung läuft eben nicht nur über LQFB <a
                href="http://www.spiegel.de/politik/deutschland/piraten-partei-kann-basisdemokratie-versprechen-nicht-einhalten-a-832421.html">spiegel.de/poli...</a>
            <a href="http://www.google.de">#piraten</a></p>
        <ul class="micropost-controls">
            <li>Antworten</li>
            <li>Weitersagen</li>
            <li>Interpretieren</li>
        </ul>
    </div>
    <div class="micropost">
        <p class="micropost-time">51m</p>

        <h2>NineBerry</h2>

        <p>Gute-Nacht-Lied heute für die echten Anarchisten in meiner Timeline von den Krupps <a
                href="http://www.youtube.com/watch?v=5w06PkLwIsA">youtube.com/wat...</a> <a href="http://www.google.de">#newsocietytreaty</a>
        </p>
        <ul class="micropost-controls">
            <li>Antworten</li>
            <li>Weitersagen</li>
            <li>Interpretieren</li>
        </ul>
    </div>
</div>
{% endblock %}

<div id="login_overlay" onclick="closelogin();"></div>
<div id="login">
    <div id="close_login" onclick="closelogin();"></div>
    <form method="post" action="{% url django.contrib.auth.views.login %}" id="loginfields">
        {% csrf_token %}
        <h2>Anmeldung</h2>
        <table>
            <tr>
                <td>{{ authForm.username.label_tag }}</td>
                <td>{{ authForm.username }}</td>
            </tr>
            <tr>
                <td>{{ authForm.password.label_tag }}</td>
                <td>{{ authForm.password }}</td>
            </tr>
        </table>

        <p>
            <input type="hidden" name="login_redirect" value="{{ this_url }}"/>
            <input type="submit" id="login_submit" value="Login &rarr;"/>
        </p>
    </form>
</div>

</body>
</html>