{% extends "main.html" %}

{% block title %}DisQussion: {{ user_to_show.name }}{% endblock %}

{% block graph %}{% endblock %}

{% block text %}
    <h1>{{ user_to_show.name }}</h1>
    {% autoescape off %}
    {{ user.selfdescription }}
    {% endautoescape %}
    {% if user.is_authenticated and user.username == user_to_show.name %}
        <h2>Einstellungen</h2>
        <ul>
            <li>Passwort ändern</li>
            <li>E-Mail: {{ user.email }}</li>
        </ul>
    {% endif %}
    <h2>Aktivitäten</h2>
    {% for activity in user_to_show.activities %}
        <div class="micropost">
            <p class="micropost-time">{{ activity.time }}</p>

            <h2>{% if activity.type == 0 %}{{ user_to_show.name }}
            {% elif activity.type == 1%}System
            {% else %}Fehler: Unbekannter Typ.{% endif %}</h2>

            <p>{{ activity.text }}</p>
            <ul class="micropost-controls">
                {% if activity.type == 0 %}<li>Antworten</li>{% endif %}
                <li>Weitersagen</li>
                {% if activity.type == 0 %}<li>Interpretieren</li>{% endif %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}

{% block microblog %}{% endblock %}