{% extends "main.html" %}

{% block title %}DisQussion: {{ pagename }}{% endblock %}

{% block graph %}
    <div id="rawgraph">
        <div>{{ short_title }}</div>
        {% for slot in slots %}
            <div class="slot">
                {{ slot.name }}
                {% for proposal in slot.list %}
                <div class="proposal">{{ slot.name }}.{{ proposal.id }}<p>{{ proposal.text }}</p></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="graph"></div>
    <div id="newProposal"><div class="circle" onclick="showNewProposal()"><span id="bigplus">+</span></div></div>
{% endblock %}

{% block textInput %}
    <div id="inputText">
        <form action="/blubb/" method="post">
        <h1>Vorschlag erstellen</h1>
        <table>
            <tr>
                <td>{{ textForm.shortTitle.label_tag }}</td>
                <td>{{ textForm.shortTitle }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ textForm.text }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Erstellen" />
                </td>
            </tr>
            <tr>
                <td colspan="2">Bitte erstelle nur dann einen neuen Vorschlag, wenn es noch keinen Vorschlag gibt, der
                    deiner Idee ähnlich ist. Wenn du mit einem bestehenden Vorschlag unzufrieden bist, oder glaubst ihn
                    verbessern zu können, dann <a href="/help/weiterentwickeln">entwickle ihn weiter</a>.
                </td>
            </tr>
            <tr>
                <td colspan="2">Alle geposteten Texte stehen automatisch unter Creative Commons 3.0:
                    <strong>CC-BY-SA</strong>.
                </td>
            </tr>
        </table>
        </form>
    </div>
{% endblock %}

{% block text %}
    <h1>DisQussion - Piraten Diskussionstool</h1>
    <p>Lorem ipsum dolor sit ämet, consectetur adipisici elit, sed eiusmöd tempor incidunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quiß nostrud exercitation üllamco laboris nisi ut
        aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla <a href="http://www.google.de">pariatur</a>. Excepteur sint obcaecat cupiditat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
        dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
        praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit
        amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        aliquam erat volutpat.</p>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
        esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
        facilisi.</p>
{% endblock %}