{% extends "main.html" %}

{% block title %}DisQussion: {{ pagename }}{% endblock %}

{% block graph %}
    <div id="graph">
        <div class="fixpoint"><div class="arrow"></div></div>
        <div class="fixpoint"><div class="arrow"></div></div>
        <div class="fixpoint"><div class="arrow"></div></div>
        <div class="fixpoint"><div class="arrow"></div></div>
        <div class="masspoint">
            <div class="circle">Schule</div>
        </div>
        <div class="masspoint">
            <div class="circle">Hochschule</div>
        </div>
        <div class="masspoint">
            <div class="circle">Senat</div>
        </div>
        <div class="masspoint">
            <div class="circle">Stupa</div>
        </div>
        <div class="masspoint">
            <div class="circle">Bildung</div>
        </div>
    </div>
{% endblock %}

{% block text %}
    <h1>DisQussion - Piraten Diskussionstool</h1>
    <p>Lorem ipsum dolor sit ämet, consectetur adipisici elit, sed eiusmöd tempor incidunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quiß nostrud exercitation üllamco laboris nisi ut
        aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla <a href="www.google.de">pariatur</a>. Excepteur sint obcaecat cupiditat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
        dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
        praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit
        amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        aliquam erat volutpat.</p>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
        esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
        facilisi.</p>
{% endblock %}